<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Autumn</title>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename="css/bulma.css") }}>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename="css/bulma-rtl.css") }}>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename="css/custom.css") }}>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename="css/colors.css") }}>
	</head>
	<body class="body">
		<!-- head start -->
		<div class="container is-max-desktop">
			<section class="hero">
				<div class="hero-body">
					<div class="container has-text-centered">
						<h1 class="title is-5 color-primary-1">
							Welcome to own garden
						</h1>
						<p class="subtitle is-1 color-primary-1">Miya & Ale</p>
						<p class="subtitle is-4 color-secondary-1-2">Autumn Garden</p>
					</div>
				</div>
			</section>
			<!-- head end -->
			<!-- option table start -->
			<section class="section is-large">
				{% for i in range(0,2) %}
				<div class="columns is-table">
					{% for j in range(0,3) %}
					<div class="column has-text-centered">
						<p class="button is-large color-primary-1" style="background-color: black;">{{ services[i*3 + j] }}</p>
					</div>
					{% endfor %}
				</div>
				{% endfor %}
		</div>
			</section>
			<!-- option table end -->
			<!-- footer start -->
			<section class="section is-large">
				<div>
					<nav class="tabs is-boxed is-fullwidth">
						<div class="container color-primary-3">
						</div>
					</nav>
			</section>
				</div>
	</body>

</html>


